.red {
    background-color: red;
}
table {
    width: 30%;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
    text-align: center;
    width: 11.11%;
    height: 10px;
    position: relative;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
td .cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 

table {
    border: 2px solid black;
}

tr {
    border-top: 1px solid black;
}

.col2, .col5 {
    border-right: 3px solid black;
}

.row2, .row5 {
    border-collapse: collapse;
    border-bottom: 3px solid black;
}